@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

.header-container{
    height: 400px;
    width: 100%;
    color: white;
    background-image: url(hero-home.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:static;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .header-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a033889; /* Overlay color with opacity */
    mix-blend-mode: multiply; /* Apply blending mode */
  }

.header-text{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 4em;
    color: white;
    text-align: center;
    word-wrap: break-word;  
    z-index: 1; /* Ensure the text is above the overlay */

}

.header-button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header-button{
    height: 50px;
    width: 300px;
    background-color: #F44C1D;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    z-index: 1; /* Ensure the text is above the overlay */
    padding-top:5px ;
    transition: background-color 1s ease;

}

.header-button:hover{

    cursor: pointer;
    background-color: #2A0338;
    transition: background-color 1s ease-in;

    
}

.trust-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6em;
    height: 200px;
    overflow-y: hidden;


}

.section-trust{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #2A0338;
    border-radius: 50px;
    width: 12%;
    padding: 10px;
    height: 140px;
    transform: scale(1);
    transition: transform 1s ease;
    box-shadow: #3c3c3c;
    transition: background-color 1s ease;


}

.section-trust-text{
    font-size: 20px;
    background-color: #F44C1D;
    width: 85%;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}



.section-trust:hover{
    transform: scale(1.05);
    transition: transform 1s ease;
    overflow-y: hidden;
    cursor: pointer;
    transition: background-color 1s ease;
    background-color: #F44C1D;

    .section-trust-text{
        background-color: #2A0338;
        transition: background-color 1s ease;

    }
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.product-heading{
    font-size: 24px;
    font-weight: bold;
    background-color: #2A0338;
    color: white;
    width: 100%;
    margin-top: none;
    text-align: center;
}

.item {
    background-color: white;
    width: 30%;
    height: auto;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding-top: 0px;
    transition: box-shadow 0.5s ease;
  }

  .item:hover{
    cursor: pointer;
    transition: box-shadow 1s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  .item-text{
    text-align: center;
    font-weight: bold;
  }
  

.item img{
    height: 300px;
    width: 300px;  
}

.button{
    width: 200px;
    background-color: #F44C1D;
    color: white;
    border: none;
    height: 30px;
    padding-top: 0px;
    font-size: 15px;
    border-radius: 3px;
    transform: scale(1);
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

.button:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    cursor: pointer;
}

#trusted-by{
    font-size: 30px;
    font-weight: bold;
    color: black;
    border-radius: 50px;
}


.testimonial-container{
    --spacer : 2rem;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer) ;
    grid-auto-flow: column;
    grid-auto-columns: 68%;
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
    width: auto;
    padding: 20px;
}

.testimonial{
    padding: var(--spacer);
    width: auto;
    background-color: white;
    border-radius: 30px;
    color: white;
    background-color: #2A0338;
    font-size: 24px;
}



.featured-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0;
    height: auto;
    margin-top: none;

}
.featured{
    width: auto;
    height: auto;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 2s ease;
    transform: scale(1);
    border-radius: 5px;
}

.featured:hover{
    cursor: pointer;
}

.featured > img{
    height: 400px;
    width: 400px;
}

.featured > button{
    width: 200px;
    color: white;
    border: 5px;
    border: none;
    height: 30px;
    background-color: #F44C1D;
    padding-top: 5px;
    margin-bottom: 10px;
}

.featured > button:hover{
    cursor: pointer;
}

.featured:hover{
    transition: box-shadow 2s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);


}

.featured-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.bundle-heading{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #2A0338;
    width: 100%;
    margin: 0;
    text-align: center;
}

.cta-container{
    background-image: url(cta-image.png);
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    justify-content: space-between;
    position:static;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cta-container {
    position: relative;
    background-image: url(cta-image.png); /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  
  .cta-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A0338; /* Overlay color with opacity */
    mix-blend-mode: multiply; /* Apply blending mode */
  }

.cta-container:hover .cta-image{
    transition: transform 0.5s ease;
    transform: scale(1.5) ;
    overflow: visible;

    
}

.cta-container:hover button{
    transition: width 0.5s ease;
    width: 170px;
    cursor: pointer;
}

.cta-container button:hover{
    transition: width 0.5s ease;
    width: 190px;
}

.cta-text{
    width: auto;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensure the text is above the overlay */
    color: #ffffff; /* Set the text color */

}

#cta-heading{
    font-size: 3em;
    color: white;
}




.cta-container button{
    width: 150px;
    height: 30px;
    background-color: #F44C1D;
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    transition: width 0.5s ease;
}

.cta-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.cta-image{
    filter:saturate(199%) ;
}


  .test-container{
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #2A0338;
  overflow: visible;
  height: auto;
  transition: transform 2s ease;
  transform: scale(1);
}

.snip1533:hover{
    cursor: pointer;
    transition: transform 2s ease;
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #F44C1D;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
.placeholder{
    display: none;
}


/* Demo purposes only */



  
@media screen and (max-width:900px){


    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .header-text{
        font-size: 2em;
        text-align: center;
    }

    .trust-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        }
    
        .section-trust{
            width: 65%;
            height: auto;
        }

    .product-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: auto;
        transform: none;
        transition: none;
        justify-content: space-evenly;
        align-items: center;

        
    }
    .item{
        height: auto;
        width: 80%;
        margin-bottom: 10px;
        transition: none;
        transform: none;
    }
    .item:hover{
        transform: none;
        transition: none;
    }


    .item img{
        width: 90%;
        height: auto;
    }

    .button{
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }
    .button:hover{
        transform: none;
        transition: none;
    }

    .test-container {
        --spacer: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        width: auto;
        padding: 0 var(--spacer); /* Add padding to container for space at ends */
      }
      
      .snip1533 {
        flex: 0 0 auto;
        padding: var(--spacer);
        margin-right: var(--spacer); /* Add spacing between testimonials */
        width: 89%; /* Adjust width calculation for accurate spacing */
        height: auto;
      }
      
      .snip1533:first-child {
        margin-left: 0; /* Remove left margin from first testimonial */
      }
      
      .snip1533:last-child {
        margin-right: 0; /* Remove margin-right from last testimonial */
      }
      

      
      .snaps-inline > .snip1533 {
        scroll-snap-align: start;
        scroll-padding-inline: var(--spacer);
      }
      .placeholder {
        display: flex;
        flex: 0 0 auto;
        padding: var(--spacer);
        margin-right: var(--spacer);
        width: 730px; /* Set width to 0 so it doesn't take up any space */
      }
      
      
      

    .featured-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    .featured{
        margin-bottom: 10px;
        width: 80%;
    }

    .featured > img{
        height: 200px;
        width: 200px;
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        background-image: url(cta-image.png);
        max-width: 100%; /* Prevent image from exceeding the container width */
        height: auto; /* Maintain image aspect ratio */
    }
    .cta-text{
        width: auto;
        height: auto;
    }

    #cta-heading{
        font-size: 1em;
        text-align: center;
    }

    .cta-image{
        height: auto;
        width: auto;
        display: flex;
        align-items: flex-start;
        margin-right: 70%;
    }

    .cta-list{
        display: flex;
        flex-direction: column;
    }



}



