*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

.header-container{
    height: 500px;
    width: 100%;
    color: white;
    background-image: url(hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:static;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text{
    margin-bottom: 10px;
    font-size: 4em;
    color: white;
    text-align: center;
}

.header-button{
    height: 50px;
    width: 300px;
    background-color: rgb(238, 115, 0);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: width 0.5s ease;
    padding-top: 15px ;
}

.header-button:hover{
    width: 320px;
    cursor: pointer;
    
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.product-heading{
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(47, 2, 47);
    color: white;
    width: 100%;
    margin-top: none;
    text-align: center;
}

.item {
    background-color: white;
    width: 30%;
    height: auto;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding-top: 0px;
  }

.item img{
    height: 300px;
    width: 300px;  
}

.button{
    width: 200px;
    background-color: rgb(238, 115, 0);
    color: white;
    border: none;
    height: 30px;
    padding-top: 0px;
    font-size: 15px;
    border-radius: 3px;
    transform: scale(1);
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

.button:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    cursor: pointer;
}

#trusted-by{
    font-size: 30px;
    font-weight: bold;
}

.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testimonial{
    height: 200px;
    width: 200px;
    background-color: white;
    transition: width 0.5s ease;
}

.testimonial:hover{
    width: 230px;
}

.featured-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0;
    height: 700px;

}
.featured{
    width: auto;
    height: auto;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
    transform: scale(1);
    border-radius: 5px;
}

.featured:hover{
    cursor: pointer;
}

.featured > img{
    height: 400px;
    width: 400px;
}

.featured > button{
    width: 200px;
    color: white;
    border: 5px;
    border: none;
    height: 30px;
    background-color: rgb(238, 115, 0);
    padding-top: 5px;
    margin-bottom: 10px;
}

.featured > button:hover{
    cursor: pointer;
}

.featured:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.featured-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.bundle-heading{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: rgb(47, 2, 47);
    width: 100%;
    margin: 0;
    text-align: center;
}

.cta-container{
    background-color: darkmagenta;
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    
}

.cta-container:hover .cta-image{
    transition: transform 0.5s ease;
    transform: scale(1.5) ;
    overflow: visible;

    
}

.cta-container:hover button{
    transition: width 0.5s ease;
    width: 170px;
    cursor: pointer;
}

.cta-container button:hover{
    transition: width 0.5s ease;
    width: 190px;
}

.cta-text{
    width: 45%;
    height: 330px;
    padding-right: 300px;
    color: white;
}

.cta-image{
    margin-top: 20px;
    width: 48%;
    height: 350px;
    align-content: center;
    display: flex;
    transition: transform 0.5s ease;
    transform: scale(1);
}


.cta-image img{
    height: 300px;
    width: 300px;

}

.cta-container #cta-heading{
    font-size: 30px;
    color: wheat;
}

.cta-container button{
    width: 150px;
    height: 30px;
    background-color: rgb(238, 115, 0);
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    transition: width 0.5s ease;
}

@media screen and (max-width:900px){


    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-text{
        font-size: 2em;
        text-align: center;
    }
    .product-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: auto;
        transform: none;
        transition: none;
        justify-content: space-evenly;
        align-items: center;

        
    }
    .item{
        height: auto;
        width: 80%;
        margin-bottom: 10px;
        transition: none;
        transform: none;
    }
    .item:hover{
        transform: none;
        transition: none;
    }


    .item img{
        width: 90%;
        height: auto;
    }

    .button{
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }
    .button:hover{
        transform: none;
        transition: none;
    }

    .testimonial{
        margin-bottom: 10px;
    }

    .featured-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    .featured{
        margin-bottom: 10px;
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }
    .cta-text{
        width: 90%;
        height: auto;
    }
    .cta-image{
        height: auto;
        width: auto;
        display: flex;
        align-items: flex-start;
        margin-right: 70%;
    }


}



