*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
  width: auto;
  height: 400px;
  background-image: url(cta-image.png);
  position:static;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: black;
    width: 25%;
    height: 400px;
    text-align: center;
    margin: 2px;
    display: none;
    margin-top: 10px;
    transition: transform 0.5s ease;
    transform: scale(1);
  }

  .filterDiv:hover{
    transition: transform 0.5s ease;
    transform: scale(1.02);
    cursor: pointer;
  }
  
.filterDiv.show {
    display: flex !important;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .container > * {
    flex: 0 0 300px;
    margin: 10px;
  }
  
  .container-2{
    width: 25%;
    height: 900px;
    background-color: #f1f1f1;
    margin-top: 20px;
    
  }

  .product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }


 

  #myBtnContainer{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: auto;
  }

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    background-color: rgb(47, 2, 27);
  }

  
  .btn-text{
    width: auto;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: orange;
    color: white;
  }

  .img-inverter{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
  }

  .product-button{
    background-color: orange;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .product-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }

  .price{
    font-weight: bold;
  }
  
  @media screen and (max-width:900px){

    .container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .filterDiv{
      transition: none;
      transform: none;
      width: 100px;

    }

    .filterDiv:hover{
      transition: none;
      transform: none;
    }

    .product-button{
      transition: none;
      transform: none;
    }

    .product-button:hover{
      transition: none;
      transform: none;
    }

    .btn{
      margin-right: 10px;
      margin-left: 10px;
    }

  }



