*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
  width: auto;
  height: 400px;
  background-image: url(cta-img.jpg);
  position:static;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: black;
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 2px;
    display: none;
    margin-top: 10px;
    transition: transform 0.5s ease;
    transform: scale(1);
  }

  .filterDiv:hover{
    transition: transform 0.5s ease;
    transform: scale(1.02);
    cursor: pointer;
  }
  
.filterDiv.show {
    display: flex !important;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
  }
  .container > * {
    flex: 0 0 300px;
    margin: 10px;
  }
  
  .container-2{
    width: 25%;
    height: 900px;
    background-color: #f1f1f1;
    margin-top: 20px;
    
  }

  .product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .acc.active, .accordion:hover {
    background-color: #ccc; 
  }

  .check-size{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0px;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  /* Style the buttons */

  #myBtnContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
  }

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    height: 250px;
    width: 200px;
    border-radius: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 11, 96, 0.73);
    mix-blend-mode: multiply; 
    border-radius: 30px;
  } 
  
  .btn-text{
    width: auto;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensure the text is above the overlay */
    color: #ffffff; /* Set the text color */
    font-size: 2em;
    font-weight: bold;
  }
  .btn-all{
    background-image: url(inverter.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-3kw{
    background-image: url(inverter1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-5kw{
    background-image: url(inverter3.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-8kw{
    background-image: url(inverter6.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-12kw{
    background-image: url(inverter8.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-16kw{
    background-image: url(inverter12.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;

  }

  .btn-allBat{
    background-image: url(inverter.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-3kwBat{
    background-image: url(inverter1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-5kwBat{
    background-image: url(inverter3.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-8kwBat{
    background-image: url(inverter6.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-10kwBat{
    background-image: url(inverter6.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-12kwBat{
    background-image: url(inverter8.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-15kwBat{
    background-image: url(inverter6.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
  }

  .btn-16kwBat{
    background-image: url(inverter12.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;

  }

  .btn-20kwBat{
    background-image: url(inverter12.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;

  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .img-inverter{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
  }

  .product-button{
    background-color: orange;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .product-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }

  .price{
    font-weight: bold;
  }
  
  @media screen and (max-width:900px){
    .container{
      display: flex;
      align-items: center;
    }

    .filterDiv{
      transition: none;
      transform: none;
    }

    .filterDiv:hover{
      transition: none;
      transform: none;
    }

    .product-button{
      transition: none;
      transform: none;
    }

    .product-button:hover{
      transition: none;
      transform: none;
    }

  }



